@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONSTANTS */
:root {
  /* FONT */
  --FF: "Nunito", sans-serif;
  --FS: clamp(1.75rem, 3vh, 2.25rem);
  --FS-XL: 3rem;
  --FS-HEADER: 1.75rem;
  --FS-NAV: 1.5rem;
  --FS-FOOTER: 1.5rem;

  /* COLOR */
  --BGCOLOR: #475569;
  --ALT-BGCOLOR: #1e293b;
  --RADIAL-COLOR: whitesmoke;
  --LIGHT-COLOR: whitesmoke;
  --DARK-COLOR: #000;

  /* SQUARE */
  --SQUARE-BGCOLOR: papayawhip;
  --SQUARE-SIZE: max(150px, 20vw);

  /* GENERAL */
  --PADDING: 0.5em;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS: 2px solid var(--DARK-COLOR);
}

@media (prefers-color-scheme: light) {
  :root {
    --BGCOLOR: #000;
    --ALT-BGCOLOR: #333;
    --RADIAL-COLOR: rgb(217, 217, 217);
    --SQUARE-BGCOLOR: rgb(202, 174, 202);
  }
}

body {
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

header,
footer {
  background-color: var(--ALT-BGCOLOR);
  color: var(--LIGHT-COLOR);
}

nav,
footer,
header {
  display: grid;
  grid-template-columns: 100%;
  place-content: center;
  text-align: center;
}

header {
  font-size: var(--FS-HEADER);
}

nav {
  background-color: var(--LIGHT-COLOR);
  color: #000;
  /* border-bottom: var(--BORDERS); */
  box-shadow: var(--SHADOWS);
}

footer {
  font-size: var(--FS-FOOTER);
}
