@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONSTANTS */

:root {

  /* COLORS  */
  --BODY_BACKGROUNG_COLOR: #47556;
  --BODY_BACKGROUND_IMAGE: radial-gradient(whitesmoke, #475569);
  
  /* STYLING */
  --NAV_BORDER: 2px solid #000;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: var(--BODY_BACKGROUNG_COLOR);
  background-image: var(--BODY_BACKGROUND_IMAGE);
  display: flex;
  flex-direction: column;
}

header,
footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
  text-align: center;
}

header {
  top: 0;
}

nav {
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: var(--NAV_BORDER);
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

footer {
  bottom: 0;
}

a:visited {
  color: #000;
}

a:hover,
a:active,
a:focus {
  color: hsla(0, 0%, 20%, 0.6);
}

.karta {
  scroll-margin-top: 8rem;
  background-color: rgb(203, 213, 225);
  padding: 1rem;
  border-radius: 1rem;
  width: min(100%, 350px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.karta img {
  border: 5px double #333;
  border-radius: 50%;
}

.karta figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

article:target {
  border: rebeccapurple solid 2px;
}

/* SMALL */
@media screen and (min-width: 576px) {
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }

  .karta {
    width: min(100%, 400px);
  }

  .card:last-child {
    order: -1;
  }
}
/* MEDIUM */
@media screen and (min-width: 768px) {
  nav {
    display: none;
  }
}
/* LARGE */
@media screen and (min-width: 992px) {
  .karta {
    width: min(100%, 450px);
  }
}
/* XL */
@media screen and (min-width: 1200px) {
}
/* MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
}
